<web-app>
	<servlet>
		<servlet-name>tmWebRock</servlet-name>
		<servlet-class>com.thinking.machine.webRock.tmWebRock</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tmWebRock</servlet-name>
		<url-pattern>/school/service/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>webRockModel</servlet-name>
		<servlet-class>com.thinking.machine.webRock.model.webRockModel</servlet-class>
		<init-param>
			<param-name>SERVICE_PACKAGE_PREFIX</param-name>
			<param-value>bobby</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
</web-app>